/* Set the background color for the entire page */
body {
    background-color: #081426;
    color: #f7f7f7;
    text-align: center; /* Center all text */
    font-family: Arial, sans-serif; /* Set a clean font */
}

/* Style headings */
h1, h2, h3 {
    color: #081426;
}

/* Style paragraph text */
p {
    color: #0a0a0a;
}

/* Style links */
a {
    color: #0a0a0a;
    text-decoration: none;
}

a:hover {
    color: ##081426;
}

/* Center text inside specific sections */
.center-text {
    text-align: center;
}
